* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: 500ms;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f0f7;
    padding: 30px;
}

#uploadForm {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#uploadForm:hover {
    transform: translateY(-5px);
}

#imagePreview {
    display: none;
    margin-top: 15px;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#backHome {
    background: none !important;
    border: 1px solid #fff;
    color: #333;
}

#backHome:hover {
    transform: scale(1.05);
    background: #f0f0f0;
    border-color: #f0f0f0;
    color: #222;
    transition: 500ms;
}

#backHome {
    background: none !important;
    border: 1px solid #fff;
    color: #333;
}

#backHome:hover {
    background: #f0f0f0;
    border-color: #f0f0f0;
    color: #222;
}

#previewCard,
#uploadForm {
    transition: transform 0.3s;
}

#previewCard:hover,
#uploadForm:hover {
    transform: scale(1.03);
}
