*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #e6f0f7;
  padding-top: 70px;
}

.hero {
  height: 70vh;
  background: url('images/bgimg.jpg') no-repeat center center;
  background-size: cover;
}

.navbar-brand {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  background: linear-gradient(90deg, #0072ff, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 4px 10px rgba(227, 191, 191, 0.1);
}
.carousel-inner{
 margin-top: 100px;
}
.start{
  margin-bottom: 30px;
}
.down{
  padding-top: 30px;
}
.card {
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}

.navbar {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.navbar-nav {
  gap: 24px;
}

a:hover {
  text-decoration: underline;
}