body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f0f7;
    padding-top: 70px;
}

.hero {
    height: 70vh;
    background: url('/frontend/images/bgimg.jpg') no-repeat center center;
    background-size: cover;
}

.card {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav {
  gap: 24px;
}